@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	scroll-behavior: smooth;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.4s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
  transition: all 150ms ease-in 0s;
}

nav svg.icon {
  margin-right: 1rem;
}

nav .active {
  @apply bg-white rounded shadow ease-out transform duration-200;
}

nav .active a {
  @apply text-green-900;
}

.menu-open {
  transform: translateX(0);
}

#particle-canvas {
  background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
  vertical-align: middle;
}

$beige: #EAA786;
$purple: #4B4168;

.top3 {
  @apply flex-col md:flex-row;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: $purple;
	
	.item {
    @apply md:w-80 w-full;

		box-sizing: border-box;
		position: relative;
		background: white;
		// width: 20vw;
		// height: 10rem;
		text-align: center;
		padding: 2.8rem 0 1rem ;
		margin: 1rem 1rem 2rem;
		border-radius: 0.5rem;
		transform-origin: bottom;
		cursor: pointer;
		transition: transform 200ms ease-in-out;
		box-shadow:
			0 0 4rem 0 rgba(black, 0.1),
			0 1rem 2rem -1rem rgba(black, 0.3);
		
		.pic {
			position: absolute;
			top: -2rem;
			left: 50%;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
			margin-right: 1rem;
      transform: translatex(-50%);
      background-color: white;
			box-shadow:
				0 0 1rem 0 rgba(black, 0.2),
				0 1rem 1rem -0.5rem rgba(black, 0.3);
		}
		
		.pos {
			font-weight: 900;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
		
		.name {
			font-size: 1.1rem;
			margin-bottom: 0.5rem;
		}
		
		.score {
			opacity: 0.5;
			
			&:after {
				display: block;
				content: 'points';
				opacity: 0.5;
			}
		}
		
		&.one {
			@apply md:w-96 w-full order-1 md:order-2;
			// height: 11rem;
			padding-top: 3.5rem;
      margin-bottom: 1rem;
			
			.pic {
				width: 5rem;
				height: 5rem;
				// left: 2.5rem;
			}
		}

    &.two {
      @apply order-2 md:order-1;
    }

    &.three {
      @apply order-3;
    }
		
		&:hover {
			transform: scale(1.05);
		}
	}
}

.list {
	padding-left: 2rem;
	margin: 0 auto;
  margin-top: 2rem;
	// width: fit-content;
	
	.item {
		position: relative;
		display: flex;
		align-items: center;
		background: white;
		height: 3rem;
		// width: fit-content;
		border-radius: 4rem;
		margin-bottom: 2rem;
		background: $beige;
		transform-origin: left;
		cursor: pointer;
		transition: transform 200ms ease-in-out;
		box-shadow:
			0 0 4rem 0 rgba(black, 0.1),
			0 1rem 2rem -1rem rgba(black, 0.3);
		
		.pos {
			font-weight: 900;
			position: absolute;
			left: -2rem;
			text-align: center;
			font-size: 1.25rem;
			width: 1.5rem;
			color: $purple;
			opacity: 0.6;
			transition: opacity 200ms ease-in-out;
		}
		
		.pic {
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
      background-color: white;
			margin-right: 1rem;
			box-shadow:
				0 0 1rem 0 rgba(black, 0.2),
				0 1rem 1rem -0.5rem rgba(black, 0.3);
		}
		
		.name {
			flex-grow: 2;
			flex-basis: 10rem;
			font-size: 1.1rem;
		}
		
		.score {
			margin-right: 1.5rem;
			opacity: 0.5;
			
			&:after {
				margin-right: 1rem;
				content: 'points';
				opacity: 0.5;
			}
		}
		
		&:hover {
			transform: scale(1.05);
			
			.pos {
				opacity: 0.8;
			}
		}
	}
}

.flag:before {
	position: absolute;
	width: 2px;
	height: 120px;
	background-color: #999;
	content: "";
	display: block;
}
#carousel{
	margin-left: 1%;
	margin-right: 1%;
	scroll-behavior: smooth;
	div:nth-child(5n+1){
		background-color: #e9ff70;
	}
	div:nth-child(5n+2){
		background-color: #ffd670;
	}
	div:nth-child(5n+3){
		background-color: #ff9770;
	}
	div:nth-child(5n+4){
		background-color: #ff70a6;
	}
	div:nth-child(5n+5){
		background-color: #90f1ef;
	}
	// div:first-child{
	// 	margin-left: 1.5%;
	// }
	// div:last-child{
	// 	margin-right: 1.5%;
	// }
	.carousel-item{
		border-radius: 5px;
		margin: 1% 0 1% 0;
		transition: .5s;

		&:hover{
			box-shadow: 4px 16px 43px -16px black;
			transform: scale(1.1);
			margin: 1% 1.5% 1% 1.5%;
		}
		
	}
	div{
		width: 20%;
	}
	@media only screen and (max-width:600px){
		.carousel-item{
			width: 45vw;
		}
	}
}
.arrow-wrapper{
	.carousel-arrow{
		width: 3%;
		background: #eeeeee;
		border: 12px solid #eeeeee;
		border-radius: 50%;
		position: absolute;
		bottom: 50%;
		z-index: 50;
	}
	.ca-left{
		left: 2em;
	}
	.ca-right{
		right: 2em;
		transform: scaleX(-1);
	}
	@media only screen and (max-width:600px){
		.carousel-arrow{
			display: none;
		}
	}
}
#carousel::-webkit-scrollbar{
  display: none;
}

.carousel-body {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.amb-carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items:5;
  --middle:3;
  --position:1;
  pointer-events: none;
	@media only screen and (max-width: 600px) {
		height: 45vh;
		.amb-carousel-item{
			width: 90%;
		}
	}
}

div.amb-carousel-item {
  position: absolute;
  width: 45%;
  padding-bottom: 5px;
  background-color: coral;
  --r:calc(var(--position) - var(--offset));
  --abs:max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
	box-shadow: 4px 16px 43px -16px black;
	border-radius: 5px;
}

.resource-div{
	padding: 3%;
	background: rgba(17, 24, 39);
	color: white;
	margin-top: 6%;



	.resource-grid-box{
		display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
		row-gap: 2em;

		a{
			background: white;
			color: #111827;
			padding: 6px 16px;
			border-radius: 4px;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 1px;
			transition: .5s;

			&:hover{
				background: #30436b;
				color: white;
			}
		}
		@media only screen and (max-width:600px){
			grid-template-columns: auto;
			padding: 1em 0;
		}
	}
	.resorce-box-down{
		grid-template-columns: auto auto auto auto;
		
		@media only screen and (max-width:600px){
			grid-template-columns: auto;
			padding: 1em 0;
		}
	}
}
.footer{
  display: flex;
  width: 100%;
  background: #010b1d;
  padding: 3em 0;
	color: white;
	margin-top: 5em;
}
.logo{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

	img{
		width: 45px;
	}
}
.footer-add{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 3px;
}
.logo h1{
  font-size: 3em;
  color: #c6373d;
}
#wave{
  transform: rotate(180deg);
  transition: 0.3s;
  position: absolute;
}
@media only screen and(max-width:600px){
	.footer{
		flex-direction: column;
	}
	.logo{
		width: 100%;
	}
	.footer{
		justify-content: center;
		padding: 2em 1em;
	}
	.content img{
		width: 50%;
		left: 25%;
	}
	.footer-p{
		margin-bottom: 2em;
    line-height: 2em;
	}
	.footer-add{
		width: 100%;
	}
}
