<script>

  let id = '';
  let data;
  let loading = false;

  async function view_details(){
    loading = true;
    data = await fetch(`https://api.startupmission.in/webhook/3709bda2-757e-43ec-9255-f279b94791d6?id=${id}`)
        .then(response => response.json());
    loading = false;
  }

</script>

<div class="container mx-auto">
  <div class="flex justify-center mb-1">
    <input type="text" class="px-5 py-3 text-xl" bind:value={id} placeholder="Enter Unique ID">
    <button on:click={view_details} class="flex items-center px-5 py-3 text-white bg-blue-600 " disabled="{ loading }">
      <svg class="w-5 h-5 mr-3 -ml-1 text-white animate-spin { loading ? '' : 'hidden' }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      View
    </button>
  </div>
  <div class="mb-5 text-xs text-center text-gray-600">Enter Unique ID from innovate portal</div>
  
  {#if data}
    <table class="mx-auto">
      {#each Object.keys(data) as key}
        <tr class="border border-gray-300">
          <th class="px-5 py-2 font-bold text-left bg-gray-200 ">
            {key}
          </th>
          <td class="px-5 py-2">
            {data[key]}
          </td>
        </tr>
      {/each}
    </table>
  {/if}

  <div class="text-xs text-center">
    NB:<br>
    Scores shown are not final.<br>
    Scores will be updated as data is uploaded to Innovate Portal by the IEDC's<br>
    KSUM reserves the right to alter or withdraw any clause of the contest or the contest itself without any prior notice<br>
    In such an event post facto notification will be sent to levels at or above Nodal Officers by KSUM IEDC team<br>
    Any malpractices found will lead to the disqualification of the Student and the Institution<br>
    Any dispute among college will lead to disqualification of both parties<br>
  </div>
</div>