<script>
  import { onMount } from 'svelte';

  let key = "1wwqsZiPErpF8pq8u7uj_0wHQH1AM_Hh5ZFknngfOHsI";
  let sheet = "'score_student'!A:E";
  let update_sheet = "'Updates'!A:B";

  let data = [];
  let updates = [];

  let district = "";

  $: scoreboard = data.filter(item => {
    
    return district ? item['district'] == district : true 

  }).sort((a,b) => b['SUM of Points'] - a['SUM of Points']);

  $: districts = [...new Set(data.map(item => item['district']))];

  // $: first = scoreboard[0];
  // $: second = scoreboard[1];
  // $: third = scoreboard[2];

  $: others = scoreboard.slice(0, 20);

  async function loadData(){
    data = await fetch(`https://api.startupmission.in/webhook/ca7dfd85-e9f5-42ac-adca-b7122ea86cb0?sheet=${key}&page=${sheet}`)
        .then(response => response.json());
    
    updates = await fetch(`https://api.startupmission.in/webhook/ca7dfd85-e9f5-42ac-adca-b7122ea86cb0?sheet=${key}&page=${update_sheet}`)
      .then(response => response.json());

  }

  function avatar(name){
    return `background-image: url('https://avatars.dicebear.com/api/bottts/${name}.svg')`;
  }

  onMount(()=>{
    loadData();
  })

</script>

{#if data.length}
  <div class="text-right">
    <select bind:value={district}>
      <option value="" selected>State Level</option>
      {#each districts as item}
        <option value="{item}">{item}</option>
      {/each}
    </select>
  </div>
  <div class="w-3/4 mx-auto">
    <div class="w-2/3 list">
      {#each others as item, i}
        <div class="item">
          <!-- <div class="pos">{4 + i}</div> -->
          <div class="pic" style={avatar(item['Student Name'])}></div>
          <div class="name">
            {item['Student Name']}
            <div class="text-xs truncate">{item['college']}, {item['district']}</div>
          </div>
          <div class="score">{item['SUM of Points']}</div>
        </div>
      {/each}
    </div>

    {#each updates as update}
      <div class="text-xs italic text-center md:text-right">{update['key']}</div>
    {/each}

  </div>
{:else}
  <svg class="w-10 h-10 mx-auto" version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <path fill="#00afef" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
    c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
        <animateTransform 
          attributeName="transform" 
          attributeType="XML" 
          type="rotate"
          dur="2s" 
          from="0 50 50"
          to="360 50 50" 
          repeatCount="indefinite" />
    </path>
    <path fill="#00afef" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
    c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
        <animateTransform 
          attributeName="transform" 
          attributeType="XML" 
          type="rotate"
          dur="1s" 
          from="0 50 50"
          to="-360 50 50" 
          repeatCount="indefinite" />
    </path>
    <path fill="#00afef" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
    L82,35.7z">
        <animateTransform 
          attributeName="transform" 
          attributeType="XML" 
          type="rotate"
          dur="2s" 
          from="0 50 50"
          to="360 50 50" 
          repeatCount="indefinite" />
    </path>
  </svg>
{/if}